{% extends "base.html" %}
{% load static %}

{% block title %} - ({{ total_cart_items }}) Cart{% endblock %}

{% block content %}

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Your Cart</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<div class="row">
    <div class="col-lg-12">
        {% if total_cart_items > 0 %}
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-3 text-center">
                    <h1 class="mx-5 my-3">Total items: {{ total_cart_items }}</h1>
                </div>
                <div class="col-lg-4 col-sm-3 text-center">
                    <h1 class="mx-5 my-3">Total amount: {{ total }} BDT</h1>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    {% if total_cart_items > 0 %}
                    <a class="mx-5 my-3 btn btn-common" href="{% url 'proceed-order' %}">Proceed Order</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row cart-row">
                <div class="col-lg-3" style="flex: 2; font-size: 18px;"><strong>Food Item</strong></div>
                <div class="col-lg-3" style="flex: 2; font-size: 18px;"><strong>Unit Price</strong></div>
                <div class="col-lg-3" style="flex: 2; font-size: 18px;"><strong>Quantity</strong></div>
                <div class="col-lg-3" style="flex: 2; font-size: 18px;"><strong>Total Price</strong></div>
            </div>

            {% for item in cart_items %}
            <div class="row cart-row">
                <div class="col-lg-3"
                     style="flex: 2">
                    <h4><b><a href="{% url 'details' item.food.slug %}">
                        {{ item.food.name }}
                    </a></b></h4>
                </div>
                <div class="col-lg-3" style="flex: 2">
                    <h4>{{ item.food.price }} BDT</h4>
                </div>
                <div class="col-lg-3 align-items-center" style="flex: 2">
                    <div class="">
                        <img class="update-cart" data-food="{{ item.food.id }}" data-action="add"
                             src="{% static 'assets/images/arrow-up.png' %}"
                             style="width: 12px; height: 12px; cursor: pointer;">

                        <span class="quantity bold">{{ item.quantity }}</span>

                        <img class="update-cart" data-food="{{ item.food.id }}" data-action="remove"
                             src="{% static 'assets/images/arrow-down.png' %}"
                             style="width: 12px; height: 12px; cursor: pointer;">
                    </div>
                </div>
                <div class="col-lg-3" style="flex: 2"><h4>{{ item.item_total }} BDT</h4></div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h2 class="m-5">Nothing to show.</h2>
        {% endif %}
    </div>
</div>

<style>
    .cart-row {
        display: flex;
        align-items: flex-stretch;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ececec;
}










</style>

<script src="{% static 'assets/js/cart.js' %}"></script>

{% include 'components/contact-tile.html' %}

{% endblock %}
