{% extends "base.html" %}
{% load static %}

{% block title %} - Menu{% endblock %}

{% block content %}

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Full Menu</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".classic-pizza">Classic Pizza</button>
                        <button data-filter=".gourmet-pizza">Gourmet Pizza</button>
                        <br/>
                        <button data-filter=".burger">Burger</button>
                        <button data-filter=".pasta">Pasta</button>
                        <button data-filter=".sliders">Sliders</button>
                        <br/>
                        <button data-filter=".set-menu">Set Menu</button>
                        <button data-filter=".family-combo">Family Combo Meal</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">

            {% for food in classic_pizza %}
            <div class="col-lg-4 col-md-6 special-grid classic-pizza">
                <a href="#">
                    <div class="gallery-single fix">
                        <img src="{{ food.image.url }}" class="img-fluid"
                             alt="{{ food.name }}">
                        <div class="why-text">
                            <a href="{% url 'details' food.slug %}"><h4>{{ food.name }}</h4></a>
                            <p>{{ food.description }}</p>
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <h1 class="btn btn-light btn-block">{{ food.price }} BDT</h1>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    {% if request.user.is_authenticated %}
                                    <form method="get">
                                        <input name="foodID" type="text" value="{{ food.id }}" hidden/>
                                        <button class="btn btn-dark btn-block" title="Add to Cart"
                                                type="submit" name="AddToCart" value="True">
                                            Add to Cart
                                        </button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

            {% for food in gourmet_pizza %}
            <div class="col-lg-4 col-md-6 special-grid gourmet-pizza">
                <a href="{% url 'details' food.slug %}">
                    <div class="gallery-single fix">
                        <img src="{{ food.image.url }}" class="img-fluid"
                             alt="{{ food.name }}">
                        <div class="why-text">
                            <h4>{{ food.name }}</h4>
                            <p>{{ food.description }}</p>
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <h1 class="btn btn-light btn-block">{{ food.price }} BDT</h1>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <form method="get">
                                        {% if request.user.is_authenticated %}
                                        <input name="foodID" type="text" value="{{ food.id }}" hidden/>
                                        <button class="btn btn-dark btn-block" title="Add to Cart"
                                                type="submit" name="AddToCart" value="True">
                                            Add to Cart
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

            {% for food in burger %}
            <div class="col-lg-4 col-md-6 special-grid burger">
                <a href="{% url 'details' food.slug %}">
                    <div class="gallery-single fix">
                        <img src="{{ food.image.url }}" style="height: 235px; width: 350px;" class="img-fluid"
                             alt="{{ food.name }}">
                        <div class="why-text">
                            <h4>{{ food.name }}</h4>
                            <p>{{ food.description }}</p>
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <h1 class="btn btn-light btn-block">{{ food.price }} BDT</h1>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <form method="get">
                                        {% if request.user.is_authenticated %}
                                        <input name="foodID" type="text" value="{{ food.id }}" hidden/>
                                        <button class="btn btn-dark btn-block" title="Add to Cart"
                                                type="submit" name="AddToCart" value="True">
                                            Add to Cart
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

            {% for food in pasta %}
            <div class="col-lg-4 col-md-6 special-grid pasta">
                <a href="{% url 'details' food.slug %}">
                    <div class="gallery-single fix">
                        <img src="{{ food.image.url }}" style="height: 235px; width: 350px;" class="img-fluid"
                             alt="{{ food.name }}">
                        <div class="why-text">
                            <h4>{{ food.name }}</h4>
                            <p>{{ food.description }}</p>
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <h1 class="btn btn-light btn-block">{{ food.price }} BDT</h1>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <form method="get">
                                        {% if request.user.is_authenticated %}
                                        <input name="foodID" type="text" value="{{ food.id }}" hidden/>
                                        <button class="btn btn-dark btn-block" title="Add to Cart"
                                                type="submit" name="AddToCart" value="True">
                                            Add to Cart
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

            {% for food in sliders %}
            <div class="col-lg-4 col-md-6 special-grid sliders">
                <a href="{% url 'details' food.slug %}">
                    <div class="gallery-single fix">
                        <img src="{{ food.image.url }}" style="height: 235px; width: 350px;" class="img-fluid"
                             alt="{{ food.name }}">
                        <div class="why-text">
                            <h4>{{ food.name }}</h4>
                            <p>{{ food.description }}</p>
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <h1 class="btn btn-light btn-block">{{ food.price }} BDT</h1>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <form method="get">
                                        {% if request.user.is_authenticated %}
                                        <input name="foodID" type="text" value="{{ food.id }}" hidden/>
                                        <button class="btn btn-dark btn-block" title="Add to Cart"
                                                type="submit" name="AddToCart" value="True">
                                            Add to Cart
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

            {% for food in set_menu %}
            <div class="col-lg-4 col-md-6 special-grid set-menu">
                <a href="{% url 'details' food.slug %}">
                    <div class="gallery-single fix">
                        <img src="{{ food.image.url }}" style="height: 235px; width: 350px;" class="img-fluid"
                             alt="{{ food.name }}">
                        <div class="why-text">
                            <h4>{{ food.name }}</h4>
                            <p>{{ food.description }}</p>
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <h1 class="btn btn-light btn-block">{{ food.price }} BDT</h1>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <form method="get">
                                        {% if request.user.is_authenticated %}
                                        <input name="foodID" type="text" value="{{ food.id }}" hidden/>
                                        <button class="btn btn-dark btn-block" title="Add to Cart"
                                                type="submit" name="AddToCart" value="True">
                                            Add to Cart
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

            {% for food in family_combo %}
            <div class="col-lg-4 col-md-6 special-grid family-combo">
                <a href="{% url 'details' food.slug %}">
                    <div class="gallery-single fix">
                        <img src="{{ food.image.url }}" style="height: 235px; width: 350px;" class="img-fluid"
                             alt="{{ food.name }}">
                        <div class="why-text">
                            <h4>{{ food.name }}</h4>
                            <p>{{ food.description }}</p>
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <h1 class="btn btn-light btn-block">{{ food.price }} BDT</h1>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
                                    <form method="get">
                                        {% if request.user.is_authenticated %}
                                        <input name="foodID" type="text" value="{{ food.id }}" hidden/>
                                        <button class="btn btn-dark btn-block" title="Add to Cart"
                                                type="submit" name="AddToCart" value="True">
                                            Add to Cart
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Menu -->

<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-left">
                <p class="lead ">
                    " If you're not the one cooking, stay out of the way and compliment the chef. "
                </p>
                <span class="lead">Michael Strahan</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->

{% include 'components/contact-tile.html' %}

{% endblock %}
