{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} - Proceed Order{% endblock %}

{% block content %}

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Proceed Order</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<div class="container p-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <div class="border p-3">
                        <h1 class="my-3"><b>Your Cart</b></h1>

                        <div class="row cart-row">
                            <div class="col-lg-3" style="flex: 2; font-size: 18px;"><strong>Food Item</strong></div>
                            <div class="col-lg-3" style="flex: 2; font-size: 18px;"><strong>Unit Price</strong></div>
                            <div class="col-lg-3" style="flex: 2; font-size: 18px;"><strong>Quantity</strong></div>
                            <div class="col-lg-3" style="flex: 2; font-size: 18px;"><strong>Total Price</strong></div>
                        </div>
                        <hr />
                        {% for item in cart_items %}
                        <div class="row cart-row my-3">
                            <div class="col-lg-3" style="flex: 2">
                                <h4><b><a href="{% url 'details' item.food.slug %}">
                                            {{ item.food.name }}
                                        </a></b></h4>
                            </div>
                            <div class="col-lg-3" style="flex: 2">
                                <h4>{{ item.food.price }} BDT</h4>
                            </div>
                            <div class="col-lg-3 align-items-center" style="flex: 2">
                                <div class="">
                                    <span class="quantity"><b>{{ item.quantity }}</b></span>
                                </div>
                            </div>
                            <div class="col-lg-3" style="flex: 2">
                                <h4>{{ item.item_total }} BDT</h4>
                            </div>
                        </div>
                        {% endfor %}

                        <hr />
                        <h2 class="my-3">Cart Total: <b>{{ total }} BDT</b></h2>
                        <h2 class="my-3">Delivery Charge: <b>50 BDT</b></h2>
                        <hr />
                        <h2 class="my-3">Total Amount: <b>{{ grand_total }} BDT</b></h2>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="border p-3">
                        <h1 class="my-3"><b>Delivery Information</b></h1>
                        <form id="checkout-form" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <select class="form-control" name="payment_method" id="payment_method" required>
                                    <option value="">Payment Method</option>
                                    <option value="Cash on Delivery">Cash on Delivery</option>
                                    <option value="bKash">bKash</option>
                                    <option value="Nagad">Nagad</option>
                                </select>
                            </div>

                            <div class="card p-3 procedure">
                                <ol type="1">
                                    <li>1. Pay the total amount to this account <b>+8801812345678</b></li>
                                    <li>2. Enter the <b>TRANSACTION ID</b> in the<b><i> Transaction ID</i></b> field
                                    </li>
                                </ol>
                            </div>

                            <div class="form-group mt-4 transactionIDDiv" id="transactionIDDiv">
                                <input class="form-control" name="transaction_id" id="transaction_id"
                                    placeholder="Transaction ID">
                            </div>

                            <div class="form-group">
                                <input class="form-control" name="phone" id="phone" placeholder="Phone Number" required
                                    {% if profile.phone %} value="{{ profile.phone }}" {% endif %}>
                            </div>

                            <div class="form-group">
                                <input class="form-control" name="shipping_address" id="shipping_address"
                                    placeholder="Delivery Address" required {% if profile.address %}
                                    value="{{ profile.address }}" {% endif %} />
                            </div>

                            <div class="submit-button text-center">
                                <button class="btn btn-common" id="submit" type="submit">Confirm
                                    Order</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'components/contact-tile.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.procedure').hide();
        $('.transactionIDDiv').hide();
        $('#payment_method').change(
            function () {
                if (this.value == "bKash" || this.value == "Nagad") {
                    $('.procedure').show();
                    $('.transactionIDDiv').show();
                    $('#transaction_id').attr('required', '');
                    $('#transaction_id').attr('data-error', 'This field is required.');
                }
                else {
                    $('.procedure').hide();
                    $('.transactionIDDiv').hide();
                    $('#transaction_id').removeAttr('required');
                    $('#transaction_id').removeAttr('data-error');
                }
            }
        )

        $('#submit').click(function (e) {
            var payment_method = $('#payment_method').val();
            var transaction_id = $('#transaction_id').val();
            var phone = $('#phone').val();
            var shipping_address = $('#shipping_address').val();

            if (payment_method == "bKash" || payment_method == "Nagad") {
                if (transaction_id == "") {
                    $('#transaction_id').addClass('is-invalid');
                    $('#transaction_id').attr('data-error', 'This field is required.');
                    $('#transaction_id').focus();
                    return false;
                }
                else {
                    $('#transaction_id').removeClass('is-invalid');
                    $('#transaction_id').removeAttr('data-error');
                    $('#checkout-form').submit();
                }
            }
            else if (phone == "") {
                $('#phone').addClass('is-invalid');
                $('#phone').attr('data-error', 'This field is required.');
                $('#phone').focus();
                return false;
            }
            else if (shipping_address == "") {
                $('#shipping_address').addClass('is-invalid');
                $('#shipping_address').attr('data-error', 'This field is required.');
                $('#shipping_address').focus();
                return false;
            } else {
                
            }
        })

        $('#checkout-form').one('submit', function () {
            // get submit button
            var submitBtn = $('#submit');
            // Submit the form and disable the submit button
            setTimeout(function () {
                disableButton(submitBtn);
            }, 0);
        });

        function disableButton(btn) {
            btn.attr('disabled', 'disabled');
            btn.text('Processing...');
        }
    });

</script>

{% endblock %}