{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Reset Password Email Sent</h1>
            </div>
        </div>
    </div>
</div>

<section class="site-section">
    <div class="container m-5">
        <h1>Password reset email sent</h1>

        <h3>We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.</h3>

        <h3>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
            your spam folder.</h3>
    </div>
</section>

{% endblock %}