{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Reset Password</h1>
            </div>
        </div>
    </div>
</div>

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-5">
                <h2 class="mb-4">Password Reset</h2>
                <form method="POST" action="" class="p-4 border rounded">
                    {% csrf_token %}

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">Email address</label>
                            {{ form.email|add_class:"form-control" }}
                            {{ form.email.errors }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="Submit" name="Send email" class="btn px-4 btn-primary text-white">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    const form_fields = document.getElementsByTagName("input")

    form_fields[1].placeholder = 'Email Address'
</script>

{% endblock %}
