{% load static %}

<div id="slides" class="cover-slides">
    <ul class="slides-container">
        <!--        <li class="text-center">-->
        <!--            <video width="100%" loop="true" autoplay="autoplay" controls muted>-->
        <!--                <source src="{% static 'assets/videos/promo.mp4' %}" type="video/mp4">-->
        <!--                <source src="{% static 'assets/video/promo.ogg' %}" type="video/ogg">-->
        <!--            </video>-->
        <!--            <div class="container">-->
        <!--                <div class="row">-->
        <!--                    <div class="col-md-12">-->
        <!--                        <h1 class="m-b-20"><strong>Welcome To <br> Crust & Bunz</strong></h1>-->
        <!--                        <p class="m-b-40">Crust & Bunz is a cloud kitchen which serves Pizza, Pasta,Burger & Sub only-->
        <!--                            in Dhaka City. <br/>-->
        <!--                            We are committed to provide tasty, hygienic and unique items. Crust & Bunz-->
        <!--                            never compromises with the quality and taste.</p>-->
        <!--                        &lt;!&ndash;                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>&ndash;&gt;-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </li>-->
        <li class="text-center">
            <img src="{% static 'assets/images/slider-01.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Crust & Bunz</strong></h1>
                        <p class="m-b-40">Crust & Bunz is a cloud kitchen which serves Pizza, Pasta,Burger & Sub only
                            in Dhaka City. <br/>
                            We are committed to provide tasty, hygienic and unique items. Crust & Bunz
                            never compromises with the quality and taste.</p>
                        <!--                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>-->
                    </div>
                </div>
            </div>
        </li><li class="text-center">
            <img src="{% static 'assets/images/slider-02.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Crust & Bunz</strong></h1>
                        <p class="m-b-40">Crust & Bunz is a cloud kitchen which serves Pizza, Pasta,Burger & Sub only
                            in Dhaka City. <br/>
                            We are committed to provide tasty, hygienic and unique items. Crust & Bunz
                            never compromises with the quality and taste.</p>
                        <!--                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>-->
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="{% static 'assets/images/slider-03.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Crust & Bunz</strong></h1>
                        <p class="m-b-40">Crust & Bunz is a cloud kitchen which serves Pizza, Pasta,Burger & Sub only
                            in Dhaka City. <br/>
                            We are committed to provide tasty, hygienic and unique items. Crust &
                            Bunz never compromises with the quality and taste.</p>
                        <!--                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>-->
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <!--    <div class="slides-navigation">-->
    <!--        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
    <!--        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>-->
    <!--    </div>-->
</div>