{% load static %}

<!-- Start Gallery -->
<div class="gallery-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center heading-title">
                    <h2>Gallery</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'assets/images/gallery/Vday_02.jpg' %}">
                        <img class="img-fluid" src="{% static 'assets/images/gallery/Vday_02.jpg' %}"
                             alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'assets/images/gallery/Vday_03.jpg' %}">
                        <img class="img-fluid" src="{% static 'assets/images/gallery/Vday_03.jpg' %}"
                             alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'assets/images/gallery/Vday_04.jpg' %}">
                        <img class="img-fluid" src="{% static 'assets/images/gallery/Vday_04.jpg' %}"
                             alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'assets/images/gallery/Vday_06.jpg' %}">
                        <img class="img-fluid" src="{% static 'assets/images/gallery/Vday_06.jpg' %}"
                             alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'assets/images/gallery/Vday_10.jpg' %}">
                        <img class="img-fluid" src="{% static 'assets/images/gallery/Vday_10.jpg' %}"
                             alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'assets/images/gallery/Vday_11.jpg' %}">
                        <img class="img-fluid" src="{% static 'assets/images/gallery/Vday_11.jpg' %}"
                             alt="Gallery Images">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->
